body.light{
	background-color: white;
	color: black;
}
body.dark{
	background-color: black;
	color: white;
}
.card-container{
	height: 200px;
	width: 300px;
	border: 1px solid black;
	box-shadow: 0px 4px 7px 4px rosybrown;
	border-radius: 10px;
	margin: 4px;padding: 5px;
}